.result-wrapper{
    justify-content: center;
    background: white;
    width: 90%;
    height: 100%;
}

.result-mes {
    align-items: center;
    text-align: center;
    padding-top: 18%;
}

.result-text p{
    color: black;
}